body {
	background: #1c2b2d;
	font-family: "Poppins", "sans-serif";
	margin: 100px;
}
a {
	text-decoration: none;

}
.title{
	display: flex;
	font-size: 50px;
	font-family: sans-serif;
	color: whitesmoke;
	position: relative;

}
.flex-container{
	display: flex;
  	flex-wrap: wrap;
  	justify-content: center;
  	align-content: center;

}
.flex-container>div {
	border-left-color: ghostwhite;
	background-color: #47476b;
	color: whitesmoke;
	width: 80px;
	height: 80px;
	margin: 10px;
	justify-content: center;
  	align-content: center;
  	text-align: center;
  	padding: 10px;
}

